body {
    background-color: #022b68; /* Midnight blue */
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2vh;
}

h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
}z

p {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 2rem;
    opacity: 0.8;
}

.button {
    background-color: #4a90e2;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: transform 0.3s, background-color 0.3s;
}

.form {
    display: flex;
    flex-direction: column;  
    justify-content: space-between;  
    align-items: center;  
    height: 300px;  
    width: 300px;   
    margin: 0 auto;  
}

.form input {
    width: 80%;  
    padding: 10px;
    margin-bottom: 10px;  
}

#form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#form #submitButton {
    padding-top: 20px;
    padding-bottom: 10vh;
}

#graphContainer {
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid #4a90e2; 
    width: 90%; 
    height: 700px;
    margin: 20px auto; 
    border-radius: 10px; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    opacity: 0.8;
}

#metricsContainer {
    display: flex;
    border: 3px solid white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 15vh;
    width: 100vw;
}

#valueContainer, #labelContainer {
    display: flex;
    flex-direction: row;
    border: black;
    width: 100vw;
}

.labels {
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 10px; 
}
.metrics {
    text-align: center;
    background-color: black;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding: 8px 0px;
    margin: 10px;
}