:root {
    --primary-color: #13315C;
    --secondary-color: #0B2545;
    --tertiary-color: #134074;
    --primary-text-color: #EEF4ED;
    --secondary-text-color: #8DA9C4;
    
}

.navbar-custom {
    background-color: black;
    border-bottom: 1px solid white;
}

.navbar-text-custom {
    color: var(--primary-text-color);
}

.navbar-text-custom:hover {
    color: var(--secondary-text-color);
}

.input-custom, 
.select-custom {
    background-color: #26466b;
    border-radius: 15px;
    -webkit-text-fill-color: slategray !important;
}

body {
    background: linear-gradient(to bottom, #000000, #152983);
    background-attachment: fixed;
    color: var(--primary-text-color);
    font-family: 'Monda', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#form #submitButton {
    padding-top: 20px;
    padding-bottom: 10vh;
}

.login-container {
    border: black 2px solid;
}

#graphContainer {
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid #4a90e2; 
    width: 90%; 
    height: 700px;
    margin: 20px auto; 
    border-radius: 10px; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    opacity: 0.8;
}

.metricContainer {
    width: 20%;
    justify-items: center;
}

.labels {
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 10px; 
}

.metrics {
    text-align: center;
    background-color: #26466b;
    border: 1px solid white;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding: 8px 0px;
    margin: 10px;
}

.btn-primary {
    background: linear-gradient(to right, #1a1a1a, #333333);
    border: none;
    color: white;
    padding: 10px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 50px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.btn-primary:hover {
    background: linear-gradient(to right, #333333, #4d4d4d); 
    color: white;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.4);
}

.navbar-nav .nav-item {
    margin: 0 5px; 
}

.navbar-nav .btn-primary {
    padding: 8px 20px; 
    font-size: 14px;   
}

.main-content {
    opacity: 0;
    margin-top: 20vh; 
    position: relative;  
    animation: fadeInUp 1s ease forwards; 
}

.main-content h1 {
    font-size: 5rem;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px); /* Start 20px lower */
    }
    100% {
        opacity: 1;
        transform: translateY(0); /* End at original position */
    }
}