:root {
    --primary-color: #13315C;
    --secondary-color: #0B2545;
    --tertiary-color: #134074;
    --primary-text-color: #EEF4ED;
    --secondary-text-color: #8DA9C4;
    
}

.navbar-custom {
    background-color: var(--tertiary-color);
    border-bottom: 1px solid black;
}

.navbar-text-custom {
    color: var(--primary-text-color);
}

.navbar-text-custom:hover {
    color: var(--secondary-text-color);
}

.input-custom, 
.select-custom {
    background-color: #26466b;
    border-radius: 15px;
    -webkit-text-fill-color: slategray !important;
}

body {
    background-color: var(--primary-color); /* Midnight blue */
    color: var(--primary-text-color);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2vh;
}

#form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#form #submitButton {
    padding-top: 20px;
    padding-bottom: 10vh;
}

#graphContainer {
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid #4a90e2; 
    width: 90%; 
    height: 700px;
    margin: 20px auto; 
    border-radius: 10px; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    opacity: 0.8;
}

.metricContainer {
    width: 20%;
    justify-items: center;
}

.labels {
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 10px; 
}

.metrics {
    text-align: center;
    background-color: #26466b;
    border: 1px solid white;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding: 8px 0px;
    margin: 10px;
}