{% extends 'base.html' %}
{% block title %}Backtest{% endblock %}

{% block content %}
<div class="container-fluid mt-5">
    <h1 class="text-center">Input Your Data</h1>
    <div class="d-flex justify-content-center" id="form">
        <form class="form-inline justify-content-center " id="backtestForm">
            <div class="form-group mb-2">
                <input name="ticker" class="input-custom form-control" id="ticker" type="text" placeholder="Ticker">
            </div>
            <div class="form-group mx-sm-3 mb-2">
                <input name="cash" class="input-custom form-control" id="cash" type="number" placeholder="Starting Cash">
            </div>
            <div class="form-group mb-2">
                <input name="sDate" class="input-custom form-control" id="sDate" type="date" placeholder="Start Date">
            </div>
            <div class="form-group mx-sm-3 mb-2">
                <input name="eDate" class="input-custom form-control" id="eDate" type="date" placeholder="End Date">
            </div>
            <div class="form-group mb-2">
                <select name="strat" class="select-custom form-control" id="strat" type="text" placeholder="Strategy">
                    <option value="SMA">SMA Crossover</option>
                    <option value="EMA">EMA Crossover</option>
                </select>
            </div>
        </form>
        <div id="submitButton">
            <button class="btn btn-primary mb-2" type="submit">BACKTEST</button>
        </div>
    </div>
    <div id="metricsContainer" class="d-flex flex-row justify-content-center w-100">
        <div class="d-flex justify-content-center align-items-end w-75">
            <div class="metricContainer">
                <div id="bhPercentLabel" class="labels">Buy & Hold Return [%]</div>
                <div id="bhPercent" class="metrics">N/A</div>
            </div>
            <div class="metricContainer">
                <div id="returnPercentLabel" class="labels">Strategy Return [%]</div>
                <div id="returnPercent" class="metrics">N/A</div>
            </div>
            <div class="metricContainer">
                <div id="returnAnnualLabel" class="labels">Annual Return [%]</div>
                <div id="returnAnnual" class="metrics">N/A</div>
            </div>
            <div class="metricContainer">
                <div id="sharpeRatioLabel" class="labels">Sharpe Ratio</div>
                <div id="sharpeRatio" class="metrics">N/A</div>
            </div>
            <div class="metricContainer">
                <div id="annVolatilityLabel" class="labels">Ann. Volatility [%]</div>
                <div id="annVolatility" class="metrics">N/A</div>
            </div>
        </div>
    </div>
    <div id="graphContainer"></div>
</div>
{% endblock %}