<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}NEPTUNE{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Monda&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-custom">
        <a class="navbar-brand navbar-text-custom" href="/">NEPTUNE</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="btn btn-primary" href="#">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="btn btn-primary" href="/backtest">Backtest</a>
                </li>
                <li class="nav-item active">
                    <a class="btn btn-primary" href="#">Guide</a>
                </li>
                <li class="nav-item active">
                    <a class="btn btn-primary" href="#">Contact</a>
                </li>
                <li class="nav-item active">
                    <a class="btn btn-primary" href="/login">Login</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container-fluid mt-5">
        <h1 class="text-center">Input Your Data</h1>
        <div class="d-flex justify-content-center" id="form">
            <form class="form-inline justify-content-center " id="backtestForm">
                <div class="form-group mb-2">
                    <input name="ticker" class="input-custom form-control" id="ticker" type="text" placeholder="Ticker">
                </div>
                <div class="form-group mx-sm-3 mb-2">
                    <input name="cash" class="input-custom form-control" id="cash" type="number" placeholder="Starting Cash">
                </div>
                <div class="form-group mb-2">
                    <input name="sDate" class="input-custom form-control" id="sDate" type="date" placeholder="Start Date">
                </div>
                <div class="form-group mx-sm-3 mb-2">
                    <input name="eDate" class="input-custom form-control" id="eDate" type="date" placeholder="End Date">
                </div>
                <div class="form-group mb-2">
                    <select name="strat" class="select-custom form-control" id="strat" type="text" placeholder="Strategy">
                        <option value="SMA">SMA Crossover</option>
                        <option value="EMA">EMA Crossover</option>
                    </select>
                </div>
            </form>
            <div id="submitButton">
                <button class="btn btn-primary mb-2" type="submit">BACKTEST</button>
            </div>
        </div>
        <div id="metricsContainer" class="d-flex flex-row justify-content-center w-100">
            <div class="d-flex justify-content-center align-items-end w-75">
                <div class="metricContainer">
                    <div class="metric">
                        <div class="labels">Buy & Hold Return [%]</div>
                        <div class="metrics">N/A</div>
                    </div>
                </div>
                <div class="metricContainer">
                    <div class="metric">
                        <div class="labels">Strategy Return [%]</div>
                        <div class="metrics">N/A</div>
                    </div>
                </div>
                <div class="metricContainer">
                    <div class="metric">
                        <div class="labels">Annual Return [%]</div>
                        <div class="metrics">N/A</div>
                    </div>
                </div>
                <div class="metricContainer">
                    <div class="metric">
                        <div class="labels">Sharpe Ratio</div>
                        <div class="metrics">N/A</div>
                    </div>
                </div>
                <div class="metricContainer">
                    <div class="metric">
                        <div class="labels">Ann. Volatility [%]</div>
                        <div class="metrics">N/A</div>
                    </div>
                </div>
            </div>
        </div>
        <div id="graphContainer"></div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="../static/js/app.js"></script>
    <script src="/static/js/login.js"></script>

</body>
</html>
