<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}NEPTUNE{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Monda&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-custom">
        <a class="navbar-brand navbar-text-custom" href="/">NEPTUNE</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="btn btn-primary" href="#">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="btn btn-primary" href="/backtest">Backtest</a>
                </li>
                <li class="nav-item active">
                    <a class="btn btn-primary" href="#">Learn</a>
                </li>
                <li class="nav-item active">
                    <a class="btn btn-primary" href="/login">Login</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container mt-5 mb-5">
        <button class="btn btn-primary" onclick="document.getElementById('frame').contentWindow.history.back()">Back</button>
        <div class="learn-container">
            <iframe id="frame" class="frame" src="./Learn/Technical Analysis.html" width="100%" height="100%"></iframe>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="../static/js/app.js"></script>
    <script src="/static/js/login.js"></script>
    <script src="../static/js/metrics.js"></script>

</body>
</html>
