<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}NEPTUNE{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Monda&display=swap" rel="stylesheet">
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-custom">
        <a class="navbar-brand navbar-text-custom" href="/">NEPTUNE</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="btn btn-primary" href="#">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="btn btn-primary" href="/backtest">Backtest</a>
                </li>
                <li class="nav-item active">
                    <a class="btn btn-primary" href="#">Guide</a>
                </li>
                <li class="nav-item active">
                    <a class="btn btn-primary" href="#">Contact</a>
                </li>
                <li class="nav-item active">
                    <a class="btn btn-primary" href="/login">Login</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container main-content text-center">
        <h1>Welcome To Neptune</h1>
        <p class="lead">A place where you can learn about the market and back-test trading strategies</p>
        <a href="/backtest" class="btn btn-primary">Get Started</a>
    </div>

    <script>
        window.onload = function() {
            document.querySelector('.main-content').style.opacity = 1;
        }
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="../static/js/app.js"></script>
    <script src="/static/js/login.js"></script>

</body>
</html>
