{% extends 'base.html' %}
{% block title %}Login{% endblock %}

{% block content %}
<div class="d-flex login-container">
    <h1 class="text-center">Login</h1>
    <form id="login-form" class="">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <button type="button" id="login-button">Login</button>
    </form>
    <p id="login-message"></p>
</div>
<script src="/static/js/login.js"></script>
{% endblock %}