<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NEPTUNE</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <div class="container">
        <h1>NEPTUNE</h1>
        <p>Your go-to platform for stock market backtesting. Analyze your trading strategies and optimize your investments with ease.</p>
        <a href="/backtest" class="button">Get Started</a>
    </div>
</body>
</html>